[Unit]
Description=Update ASU branches from branches.json
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/home/asu/asu-server/update-branches.sh
