[Unit]
Description=Cloudflare Tunnel for ASU
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=asu
ExecStart=/usr/bin/cloudflared tunnel run asu-server
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
